<div class="container mt-4">
  <h1>Task List</h1>
  <button class="btn btn-primary mb-3" [routerLink]="'/create-task'">
    Create Task
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (task of tasks; track task.id; let i = $index) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ task.content }}</td>
        <td>{{ task.due?.date | date : "dd MMMM yyyy" || "No due date" }}</td>
        <td>{{ task.priority }}</td>
        <td>
          <button [routerLink]="['/task-detail', task.id]" class="btn btn-info">
            View Details
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
